<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<title>@ViewBag.Title</title>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="~/css/estilos-index1.css">
<body>
    <header class="container-fluid ">
        <nav style="margin-bottom:0" class="navbar navbar-static-top navbar-inverse " role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navegacion">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="@Url.Action("Index","Home")" class="navbar-brand">TICKNET</a><!--nos redirige a la pag principal-->
                </div>
                <!--inicia el MENU-->
                <div class="collapse navbar-collapse" id="navegacion">
                    <!--menu desplegable -->
                    <form action="" class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="BUSCAR UN EVENTO">
                                <span class="input-group-btn"><button onclick="buscar()" class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button></span>
                            </div>
                        </div>
                    </form>
                    <form action="" class="navbar-form navbar-right">
                        <a class="btn btn-info" href="#busqAvanzada" data-toggle="collapse">Búsqueda Avanzada <span class="glyphicon glyphicon-tasks"></span></a>
                        <a id="logIn" href="#logInCliente" class="btn btn-primary" data-toggle="modal">Iniciar Sesión <span class="glyphicon glyphicon-user"></span> </a>
                        <a id="logOut" href="@Url.Action("Index","Home")" class="btn btn-danger">Cerrar Sesión <span class="glyphicon glyphicon-log-out"></span> </a>

                    </form>

                </div>
            </div>
        </nav>

        <div id="busqAvanzada" class="collapse container">
            <!--formulario EN LINEA-->
            <form id="search" action="" class="form-inline">
                <div class="form-group ">
                    <div class="form-group ">
                        <div class="input-group">
                            <span class="input-group-addon">Desde:</span>
                            <input type="date" class="form-control">
                        </div>
                    </div>

                    <div class="form-group ">
                        <div class="input-group">
                            <span class="input-group-addon">Hasta:</span>
                            <input type="date" class="form-control">
                        </div>
                    </div>


                    <div class="form-group ">
                        <select name="" id="Tipo" class="form-control col-lg-2">
                            <option value="">Evento</option>
                            <option value="">Teatro</option>
                            <option value="">Actividad</option>
                            <option value="">Cine</option>
                        </select>
                    </div>
                    <div class="form-group ">
                        <select name="" id="Categoria" class="form-control col-lg-2">
                            <option value="">Entretenimiento</option>
                            <option value="">Comedia</option>
                            <option value="">Deporte</option>
                            <option value="">Salud</option>
                            <option value="">Música</option>
                            <option value="">Romance</option>
                        </select>
                    </div>


                    <div class="form-group">
                        <select name="" id="lugares" class="form-control ">
                            <option value="">Lima</option>
                            <option value="">Piura</option>
                            <option value="">Juliaca</option>
                            <option value="">Trujillo</option>
                            <option value="">Loreto</option>
                            <option value="">Ica</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <a href="@Url.Action("Index","Home")" class="btn btn-primary ">Buscar <span class="glyphicon glyphicon-search"></span></a>
                    </div>

                </div>
            </form>
        </div>
        <div class="modal fade" id="logInCliente">
            <!--esta div pondra la pantalla oscura al presionar el boton-->
            <div class="modal-dialog">
                <div class="modal-content">
                    <!--ACA VA EL CONTENIDO DEL MODAL-->
                    <!--header de la ventana modal-->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times; </button>
                        <h4 class="modal-title">Iniciar Sesión</h4>
                    </div>
                    <!--contenido de la ventana modal-->
                    <div class="modal-body">
                        <form action="" class="form-horizontal">
                            <div class="form-group">
                                <label for="correo" class="control-label col-md-2">Correo:</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="correo" placeholder="ejemplo@dominio.com">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="password" class="control-label col-md-2">Contraseña:</label>
                                <div class="col-md-10">
                                    <input id="password" class="form-control" type="password">
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--footer de la ventana modal-->
                    <div class="modal-footer">
                        <button type="button" onclick="ingresar()" class="btn btn-primary"><span class="glyphicon glyphicon-user"></span> Ingresar</button>
                        <a href="@Url.Action("Register","Client")" type="button" class="btn btn-default pull-left"><span class="glyphicon glyphicon-pencil"></span> No estoy registrado</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="logInEmpleado">
            <!--esta div pondra la pantalla oscura al presionar el boton-->
            <div class="modal-dialog">
                <div class="modal-content">
                    <!--ACA VA EL CONTENIDO DEL MODAL-->
                    <!--header de la ventana modal-->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times; </button>
                        <h4 class="modal-title">Logueo</h4>
                    </div>
                    <!--contenido de la ventana modal-->
                    <div class="modal-body">
                        <form action="" class="form-horizontal">
                            <div class="form-group">
                                <label for="correo" class="control-label col-md-2">Usuario:</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="correo" placeholder="miusuario123">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="password" class="control-label col-md-2">Contraseña:</label>
                                <div class="col-md-10">
                                    <input id="password" class="form-control" type="password">
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--footer de la ventana modal-->
                    <div class="modal-footer">
                        <a href="@Url.Action("IndexSalesman","Home")" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-user"></span> Ingresar</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    @RenderBody()

    <div id="footer" class="container-fluid">
        <br>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">

                <p>Contratos: 666-6666 </p>
                <p>Creado por <strong>.NETSOFT</strong> Derechos reservados</p>
                <a id="intranet" href="#logInEmpleado" data-toggle="modal" style="color:white">Intranet</a>

            </div>
        </div>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
